<header>
  <h1>Create User</h1>
  <nav>
    <ul>
      <li><a> Usuários criados</a></li>
    </ul>
  </nav>
</header>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input formControlName="name" placeholder="Nome" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input formControlName="age" type="number" placeholder="Idade" />
  </div>
  <div>
    <label for="sex">Sex:</label>
    <select formControlName="sex">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>
  <div>
    <input formControlName="document" placeholder="Documento" />
  </div>
  <div formGroupName="address">
    <input formControlName="street" placeholder="Rua" />
    <input formControlName="number" placeholder="Número" />
    <input formControlName="block" placeholder="Bloco" />
    <input formControlName="apartment" placeholder="Apartamento" />
    <input formControlName="country" placeholder="País" />
    <input formControlName="city" placeholder="Cidade" />
    <input formControlName="district" placeholder="Bairro" />
  </div>
  <button type="submit" [disabled]="userForm.invalid">Create User</button>
</form>

<div class="modal-overlay"></div>
<div class="modal-create">
  <div class="modal-content-create">
    <h2>User Created</h2>
    <p>Name: {{ userForm.value.name }}</p>
    <p>Age: {{ userForm.value.age }}</p>
    <p>Address: {{ userForm.value.address }}</p>
    <button (click)="closeModalCreate()">Close</button>
  </div>
</div>
